<section class="hero">
    <div class="container">
      <h2>Wedding Organizer Jogja</h2>
      <p>Beri tahu kami tentang pernikahan impianmu,kami siap membantu mewujudkannya </p>
    </div>
  </section>
  
  <!-- About Section -->
  <section id="about" class="about">
    <div class="container">
      <h2>Tentang Kami</h2>
      <p>Di Indonesia, Bersama Orang Indonesia , Untuk Pasangan Indonesia</p>
    </div>
  </section>
  
  <!-- Portfolio Section -->
  <section id="portfolio" class="portfolio">
    <div class="container">
      <h2>Paket Pernikahan Wedding Organizer Jogja</h2>
      <div class="portfolio-grid">
        <div class="portfolio-item">
          <img src="https://ik.imagekit.io/tvlk/blog/2021/07/Golden-Ballroom-The-Sultan-Jakarta.jpg" alt="Paket Pernikahan" />
          <h3>Gedung Pernikahan</h3>
          <p>Kamu bisa memilih gedung pernikahan kami yang indoor di Assembly Hall Menara Mandiri dan Skenoo Hall Emporium Pluit, mau pun semi outdoor di Financial Hall. Gedung pernikahan yang bertemakan elegan dan mewah, sangat cocok untuk menyesuaikan dengan kebutuhan acara pernikahan kamu. Semua hall kami memiliki lokasi yang strategis dan juga kebebasan waktu dengan sistem satu hari satu pernikahan, jadi kamu bisa dengan bebas untuk memilih jam acara kamu.</p>
        </div>
        <div class="portfolio-item">
          <img src="https://tendasidomulyo.com/wp-content/uploads/2023/12/Sewa-gedung-pernikahan-tepat-untuk-memberikan-kenyamanan-penggunanya.jpeg" alt="Project 2" />
          <h3>Dekorasi Pernikahan</h3>
          <p>Paket kami sudah termasuk dengan dekorasi pernikahan yang bisa menyesuaikan dengan kebutuhan kamu dan keluarga. Baik untuk konsep tradisional, nasional, mau pun internasional, vendor-vendor dekorasi terbaik di Jakarta kami pasti dapat memenuhi kebutuhan kamu. Dalam All In Wedding Package kami sudah termasuk dengan voucher yang bisa kamu gunakan pada vendor rekanan kami. Untuk kamu yang masih bingung dengan konsep pernikahan, Wedding Planner kami akan membantu memberikan rekomendasi untuk kamu.</p>
        </div>
        <div class="portfolio-item">
          <img src="https://img.okezone.com/content/2024/05/10/194/3006781/dirancang-oleh-lisa-ju-begini-detail-baju-pengantin-mahalini-raharja-yang-indah-dan-megah-w4e9Ftzsvc.jpg" alt="Project 3" />
          <h3>Foto dan Video</h3>
          <p>Kami hanya bekerja sama dengan rekanan vendor foto terbaik yang bisa kamu cek di laman Instagramnya masing-masing. Vendor-vendor ini sudah kami pilih sesuai dengan ciri khas yang berbeda baik dari segi pengambilan gambar, warna, hingga harga. Kamu juga bisa menggunakan vendor foto video kami tanpa melakukan penambahan biaya pada vendor-vendor tertentu.</p>
        </div>
      </div>
    </div>
  </section>
  
  <section class="hubungi">
    <a href="/contact">
      <button type="button">Contact Me</button>
    </a>
  </section>